TEMPLATE_ID=9000
STORAGE=local-lvm
MGMT_BRIDGE=vmbr0
TOPOLOGY=linux-vxlan-reference
NETWORK_MODE=qinq
SDN_BRIDGE=vmbr-test
TEST_BRIDGE=vmbr-test
QINQ_SERVICE_VLAN_BASE=3000
QINQ_SERVICE_VLAN_COUNT=500
ANSIBLE_USER=pulsar
ANSIBLE_SSH_PRIVATE_KEY_FILE=~/.ssh/pulsaros-testbed
KERNEL_SOURCE=none
KERNEL_EXPECTED_RELEASE=
GEMINI_MODEL=gemini-2.5-flash
