TEMPLATE_ID=9000
STORAGE=local-lvm
MGMT_BRIDGE=vmbr0
TEST_BRIDGE=vmbr-test
ANSIBLE_USER=pulsar
ANSIBLE_SSH_PRIVATE_KEY_FILE=~/.ssh/pulsaros-testbed
KERNEL_SOURCE=none
KERNEL_EXPECTED_RELEASE=
GEMINI_MODEL=gemini-2.5-flash
