TEMPLATE_ID=9000
STORAGE=local-lvm
MGMT_BRIDGE=vmbr0
TOPOLOGY=linux-vxlan-reference
NETWORK_MODE=qinq
SDN_BRIDGE=vmbr-test
TEST_BRIDGE=vmbr-test
QINQ_SERVICE_VLAN_BASE=3000
QINQ_SERVICE_VLAN_COUNT=500
RUN_ID=123456
